.report__container {
  padding: 1rem;
  display: flex;
}

.resume {
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  color: gray;
  margin: 0;
}

.commits__body {
  background-color: #e4e4e4;
}

.commits__card {
  width: 100%;
}

.commit__count {
  font-size: 2rem;
  color: black;
}
