.header__nav {
  color: black;
  font-size: 18px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.header__nav:hover {
  color: rgb(13, 118, 216); 
}

.nav__container {
  color: rgb(13, 118, 216); 
}